/*=========FEEEEEEEEEEDDDD=========================*/

.ContainerBody{
    /*background-color: aliceblue;*/    /*REMOVER ISSO*/
    width: 100%;
    height: 89%;
    display: flex;
}


.esquerdaFeed{
    /*background-color: yellow;*/
    width: 110vh;
    height: 100%;
}

.LogotipoCentralFeed{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.LogotypeFeed{              /*COLOCAR UMA CAIXA DENTRO DO 'ESQUERDA' PARA CENTRALIZAR A LOGOTIPO*/
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mensagemfeed{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: News701 BT;
}

.direitaFeed{
    /*background-color:red;*/
    width: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    border-radius: 15%;
}
.poshit{
    /*background-color: aqua;*/
    width: 524px;  /*DEIXAR EM %  width: 84%; PARA O SITE RESPONSIVO FUNCIONAR BEM*/
    height: 40%;
    align-items: center;
    margin-bottom: 15%;
}   

.elements{
   background-color: rgb(216, 216, 216);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  /*width: 100%;*/

}
.elements img{
    cursor: pointer;

    /*width: 24.4%;*/
}
.elements > figure #moreHIDDEN{
  width: 24.4%;
  height: 32.3%;
}
#moreHIDDEN:hover{
    opacity: 60%;
}

.elements > figure #moreHIDDEN:hover{
  
  animation: efeito-pulso .8s linear infinite;
}
@keyframes efeito-pulso{


  60%{
    transform: scale(0.8);
  }
  0%{
    transform: scale(1);
  }  
}

.elements > figure img:hover{
    animation: rotacao 0.9s ease-in-out;
}
@keyframes rotacao {
    0%{
        transform: rotateY(50deg);
    }
    50%{
        transform: rotateY(190deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
