.ContainerBody{
    /*background-color: aliceblue;*/    /*REMOVER ISSO*/
    width: 100%;
    height: 89%;
    display: flex;
    overflow: hidden;
}
#btn{
    width: 25px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 60px;
    position: absolute;
    top: 30px;
    left: 95%;
    cursor: pointer ;
}
/*=================================================================*/
.Lado-esquerdo{
    /*background-color: rgb(65, 95, 121);*/     /*REMOVER ISSO*/
    width: 50%;
    height: 100vh;

}

/*=================================================================*/

.mensagemBoasVindas{
    /*background-color: #00ff22;*/
    margin-top: 6%;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: News701 BT;
    color: whitesmoke;
}
.Logotype{              /*COLOCAR UMA CAIXA DENTRO DO 'ESQUERDA' PARA CENTRALIZAR A LOGOTIPO*/
    width: 30%;
    height: auto;
    position:absolute;
    top: 50%;
    left: 15%;
}


.LogotipoCentralizado{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carrossel{
    /*background-color: rgb(21, 231, 144);*/            /*REMOVER ISSO*/
    width: 100%;
    height: 45%;
}

.content{
    height: 250px;
    width: 40%;  /*TAMANHO DAS IMAGENS*/
    border-radius: 20px;
    overflow: hidden;
    position: absolute;   /* MUDAR PARA MUDAR ONDE ESTÃ*/
    top: 32%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.navigation{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 5vw;
    height: 2vh;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}

.bar:hover{
    background-color:azure;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 600%;   /* width de 500% para fazer uma imagem aparecer de cada vez*/
    height: 100%;  /*PRA PREENCHER TUDO*/
}
.slide {
    width: 20%; /*ou 16*/ 
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}
#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
}
#slide6:checked ~ .s1{
    margin-left: -100%;
}




#btn::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: -1px;
    transform: translateY(-50%);
}

.Lado-direito{
    /*background-color: rgb(21, 133, 231);*/        /*REMOVER ISSO*/
    width: 90vw;
    height: 100%;
    display: flex;
}


#top-menu{
    width: 100%;
    height: 5vh;

}

#top-menu > nav{
    width: 100%;
    height: 100%;
    justify-content: end;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    
}
#top-menu > nav .logo1{
    left: 70%;
    position:absolute;
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}
#top-menu > nav .logo1 h1{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
#top-menu > nav ul{
    list-style: none;
}

#top-menu > nav ul li{
    display: inline;
    padding-left: 20px;
}
#top-menu > nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    animation: dropping 0.6 ease-in-out;
}
#top-menu > nav ul li a:hover{
    border-bottom: 2px solid black;
}

#top-menu > nav figure{
    margin-left: 60px;
    width: 3%;
    height: 100%;

}
#top-menu > nav figure img{
    width: 100%;
}





/*======================================================*/


.direita-chat{
    /*background-color: #483ca3;*/
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}
/*======================================================*/



/*PROBLEMA DO TAMANHO DO CHAT*/
.chat-container {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 320px;
	max-width: 100%;
  height: 75vh;
  max-height: 100%;
}

.chat-geral {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.5);
	position: relative;
	margin-bottom: 30px;
}

.message.left {
	padding: 15px 20px 15px 70px;
}

.message.right {
	align-self: flex-end;
	padding: 15px 70px 15px 20px;
}

.logo {
	border-radius: 50%;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 50px;
	height: 50px;
}

.message.right .logo {
	left: auto;
	right: 10px;
}

.message p {
	margin: 0;
}

/*#text_input {
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	width: 100%;
}*/

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}